<ul>
  <li *ngFor="let produto of produtos; let i = index">
    Posição: {{ i + 1 }} | Nome: {{ produto.nome }} | 
    Preço: {{ produto.preco | currency:'BRL' }} | Quantidade: {{ produto.quantidade }}
    
    <span [ngClass]="{
      'sem-estoque': produto.quantidade === 0,
      'estoque-baixo': produto.quantidade >= 1 && produto.quantidade <= 5,
      'estoque-disponivel': produto.quantidade > 5
    }">
      <ng-container *ngIf="produto.quantidade === 0"> - Sem estoque</ng-container>
      <ng-container *ngIf="produto.quantidade >= 1 && produto.quantidade <= 5"> - Estoque baixo</ng-container>
      <ng-container *ngIf="produto.quantidade > 5"> - Estoque disponível</ng-container>
    </span>
  </li>
</ul>